@{
    ViewData["Title"] = "CHECKOUT";
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Thanh toán</li>
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <form id="checkout-form" class="clearfix" method="post" action="/Order/PreCheckOut">
                <input name="__RequestVerificationToken" type="hidden" value="Jl5mW4jKDXVoV0_QCdzwASDq0hdoXaALEEy_PGPtm-X8MCa4y6WE0qKwiJZut0Bm6flMIE2yIz7VAh3Lb4VhtfAPFmczikpiv0xRxv1x4vk1" />
                <div class="col-md-6">
                    <div class="billing-details">
                        <p>Đã có tài khoản ? <a href="/Customer/Login">Đăng nhập</a></p>
                        <div class="section-title">
                            <h3 class="title">Chi tiết đặt hàng</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="CustomerFullname" placeholder="Họ và tên">
                        </div>
                        <div class="form-group">
                            <input class="input" type="date" name="CustomerBirthday">
                        </div>
                        <div class="form-group">
                            <select name="CustomerGender" id="input" class="input" required="required">
                                <option value="">Giới tính</option>
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="CustomerEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="CustomerPhone" placeholder="Điện thoại">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="CustomerAddress" placeholder="Địa chỉ">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="register">
                                <label class="font-weak" for="register">Tạo tài khoản?</label>
                                <div class="caption">
                                    <input class="input" type="password" name="CustomerPassword" placeholder="Nhập mật khẩu...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Phương thức vận chuyển</h4>
                        </div>
                        <div class="input-checkbox">
                            <input class="transport-price" type="radio" name="TransportId" id="shipping-1" value="1" checked>
                            <label for="shipping-1">Vận chuyển nội bộ -  50,000</label>
                            <div class="caption">
                                <p>
                                    Cửa h&#224;ng sẽ chủ động vận chuyển đơn h&#224;ng đến cho kh&#225;ch h&#224;ng
                                </p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input class="transport-price" type="radio" name="TransportId" id="shipping-2" value="2">
                            <label for="shipping-2">Vận chuyển COD -  100,000</label>
                            <div class="caption">
                                <p>
                                    Cửa h&#224;ng sẽ sử dụng dịch vụ vận chuyển của b&#234;n thứ 3 để chuyển h&#224;ng đến địa điểm nhận h&#224;ng của qu&#253; kh&#225;ch
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="payments-methods">
                        <div class="section-title">
                            <h4 class="title">Phương thức thanh toán</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="PaymentMethodId" id="payments-1" value="1" checked>
                            <label for="payments-1">Thanh to&#225;n trực tuyến</label>
                            <div class="caption">
                                <p>
                                    Thanh to&#225;n online th&#244;ng qua hệ thống thanh to&#225;n điện tử của QTC-Store
                                </p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="PaymentMethodId" id="payments-2" value="2">
                            <label for="payments-2">Thanh to&#225;n tại cửa h&#224;ng</label>
                            <div class="caption">
                                <p>
                                    Kh&#225;ch h&#224;ng thanh to&#225;n trực tiếp tại cửa h&#224;ng
                                </p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="PaymentMethodId" id="payments-3" value="3">
                            <label for="payments-3">Thanh to&#225;n tại nh&#224; (COD)</label>
                            <div class="caption">
                                <p>
                                    Kh&#225;ch h&#224;ng đặt h&#224;ng online, sau đ&#243; cửa h&#224;ng sẽ vận chuyển đơn h&#224;ng v&#224; thanh to&#225;n tại nh&#224; của qu&#253; kh&#225;ch
                                </p>
                            </div>
                        </div>
                    </div>
                    <table class="shopping-cart-table table" id="all-price">



                        <tbody>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Giá của sản phẩm</th>
                                <th class="sub-total">61,990,000</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Phí vận chuyển</th>
                                <th class="sub-total" id="transport-pricee">50,000</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Mức giảm giá</th>
                                <th class="sub-total" id="voucher-sale">0 (00)</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Tổng tiền</th>
                                <th class="total">
                                    62,040,000
                                </th>
                            </tr>
                            <input type="hidden" name="TransportPrice" value="50000" />
                            <input type="hidden" name="TotalAmount" value="61990000" />
                            <input type="hidden" name="TotalPrice" value="62040000" />
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"><br></div>
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" name="VoucherCode" id="voucher-code" placeholder="Mã giảm giá..." style="height: 40px; margin-top: -5px;" />
                        </div>
                        <button type="button" class="primary-btn" id="apply-voucher">Kiểm tra</button>
                        <button class="primary-btn" type="submit">Đặt hàng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
