@{
    ViewData["Title"] = "ACCOUNT INFORMATION";
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Trang cá nhân người dùng</li>
        </ul>
    </div>
</section>

<section class="section" style="min-height: calc(100vh - 231px - 367px)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Trang cá nhân người dùng</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-user-function text-center medium-font upper-case">
                    <div class="function-item function-active">
                        <a href="/tai-khoan/thong-tin-ca-nhan" title="Thông tin cá nhân">Thông tin cá nhân</a>
                    </div>
                    <div class="function-item ">
                        <a href="/tai-khoan/thay-doi-thong-tin" title="Đổi thông tin người dùng">Đổi thông tin người dùng</a>
                    </div>
                    <div class="function-item ">
                        <a href="/tai-khoan/thay-doi-mat-khau" title="Đổi mật khẩu người dùng">Đổi mật khẩu</a>
                    </div>
                    <div class="function-item ">
                        <a href="/tai-khoan/thay-doi-anh-dai-dien" title="Đổi ảnh đại diện">Đổi ảnh đại diện</a>
                    </div>
                    <div class="function-item ">
                        <a href="/tai-khoan/danh-sach-yeu-thich" title="Danh sách yêu thích">Danh sách yêu thích</a>
                    </div>
                    <div class="function-item ">
                        <a href="/tai-khoan/don-hang" title="Đơn hàng">Đơn hàng</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <table class="personal-information">
                    <tr>
                        <th>Ảnh đại diện:</th>
                        <td>
                            <img src="~/upload/images/Customers/1adminavatar23295223122018.jpg" style="max-width: 200px;" alt="Ảnh đại diện cá nhân" />
                        </td>
                    </tr>
                    <tr>
                        <th>Họ tên:</th>
                        <td>Hồng Quân Dư</td>
                    </tr>
                    <tr>
                        <th>Ngày sinh:</th>
                        <td>11/24/1990</td>
                    </tr>
                    <tr>
                        <th>Giới tính:</th>
                        <td>Nam</td>
                    </tr>
                    <tr>
                        <th>Điện thoại:</th>
                        <td>0849241190</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>quancoina@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ:</th>
                        <td>Số nhà 16 ngõ 5 Phạm Văn Đồng, Mai Dịch</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
