@{
    ViewData["Title"] = "PRODUCT DEATAIL";
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/Product?CategoryId=1">Laptop & phụ kiện</a></li>
            <li class="active">Laptop ASUS ROG Zephyrus S GX531GW-ES006T</li>
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T01.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T03.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T02.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T04.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T01.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T03.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T02.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                        <div class="product-view">
                            <img src="~/upload/images/ProductImages/Asus/Laptop/GX531GW-ES006T/GX531GW-ES006T04.jpg" alt="Hình ảnh sản phẩm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                            <span class='text-center'>Mới</span>
                        </div>
                        <h2 class="product-name">Laptop ASUS ROG Zephyrus S GX531GW-ES006T</h2>
                        <h3 class="product-price">
                            61,990,000
                        </h3>
                        <div>
                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                            </div>
                            <a><span>0</span> Đánh giá</a>
                        </div>
                        <p><strong>Trạng thái:</strong> Còn hàng</p>
                        <p><strong>Hãng:</strong> Asus</p>
                        <p><strong>Danh mục:</strong> Laptop & phụ kiện</p>
                        <div class="product-options">
                            <ul class="size-option">
                                <li><span class="text-uppercase"><b>Mã sản phẩm:</b></span></li>
                                <li></li>
                            </ul>
                        </div>

                        <div class="product-btns">
                            <div class="qty-input">
                                <span class="text-uppercase"><b>Số lượng: </b></span>
                                <input class="input" type="number" id="ProductQuantity" value="1" min="1" />
                            </div>
                            <button class="primary-btn add-to-cart-from-detail" data-id="46"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                            <div class="pull-right">
                                <a href="#" title="Thêm vào danh sách yêu thích" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                                <a href="#" title="So sánh" class="main-btn icon-btn"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Mô tả sản phẩm</a></li>
                            <li><a data-toggle="tab" href="#tab2">Thông số kỹ thuật</a></li>
                            <li><a data-toggle="tab" href="#tab3">Đánh giá <span>(0)</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active" style="overflow: hidden;">
                                <div>
                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_1_c42c9ce7109446bfb1cccbdf488f80aa.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_2_da067b7d016a43fd98c5e6e1b0e85003.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_3_2bc104c6344a40c2ac15f5e308d62852.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_4_f978402988cd48d5838a0f4a744e97db.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_5_ceedde14b74a41f9aee42497ea1842c9.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_6_f5fe040825184ff18c9e60771ef2f998.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_7_4b2a3813697742bc963ebb2aa87b23b9.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_8_46748d6039984de7a8521522dbb8f698.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_9_f94fc139af284b3b96821430b5712f9d.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_10_4e66a652caac464ebc0d4d75eb0c4597.png" /></p>

                                    <p><img alt="Laptop ASUS ROG Zephyrus S GX531GW-ES006T" src="https://file.hstatic.net/1000026716/file/screenshot_11_63b25e2e7a07461a9dfedcf9e24d7df9.png" /></p>

                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade in" style="overflow: hidden;">
                                <div>
                                    <p><strong>Th&ocirc;ng số kỹ thuật Laptop ASUS ROG Zephyrus S GX531GW-ES006T</strong></p>

                                    <p><img src="https://file.hstatic.net/1000026716/file/screenshot_13_bcf12daf670d4108aabead29b977ee02.png" /></p>

                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews" id="product-comment-append">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="text-uppercase">Để lại đánh giá của bạn</h4>
                                        <form class="review-form" action="/Product/CommentProduct" method="post">
                                            <input name="__RequestVerificationToken" type="hidden" value="k1ZFqQvu_-DaJ6QHPThpXk61--lRqIO6tgULg9DXiT4-6dYxHWly74fSHVqGDOhyaKi13nYNZxcsXK6Lb45j3eeVLe2pFBlp502q1gC6v141" />
                                            <div class="form-group">
                                                <textarea class="input" name="ProductCommentContent" placeholder="Nhập đánh giá của bạn..."></textarea>
                                                <input type="hidden" name="ProductId" value="46" />
                                            </div>
                                            <div class="form-group">
                                                <div class="input-rating">
                                                    <strong class="text-uppercase">Đánh giá: </strong>
                                                    <div class="stars">
                                                        <input type="radio" id="star5" name="ProductCommentRate" value="5" /><label for="star5"></label>
                                                        <input type="radio" id="star4" name="ProductCommentRate" value="4" /><label for="star4"></label>
                                                        <input type="radio" id="star3" name="ProductCommentRate" value="3" /><label for="star3"></label>
                                                        <input type="radio" id="star2" name="ProductCommentRate" value="2" /><label for="star2"></label>
                                                        <input type="radio" id="star1" name="ProductCommentRate" value="1" /><label for="star1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="primary-btn">Đánh giá</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Sản phẩm liên quan</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span class='text-center'>Mới</span>
                        </div>
                        <a href="/san-pham/chi-tiet/1" class="main-btn quick-view"><i class="fa fa-eye"></i> Chi tiết</a>
                        <img src="~/upload/images/ProductImages/Asus/Laptop/GL503GE-EN021T/GL503GE-EN021T-01.jpg" alt="Laptop Asus ROG Strix Scar Edition GL503GE-EN021T" />
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">
                            49,990,000
                        </h3>
                        <div class="product-rating">
                            <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-half-o'></i>
                        </div>
                        <h2 class="product-name"><a href="/san-pham/chi-tiet/1">Laptop Asus ROG Strix Scar Edition GL503GE-EN021T</a></h2>
                        <div class="product-btns">
                            <a href="" class="main-btn icon-btn" data-id="1"><i class="fa fa-heart "></i></a>
                            <a href="" class="main-btn icon-btn" data-id="1"><i class="fa fa-exchange"></i></a>
                            <a href="" class="primary-btn add-to-cart pull-right" data-id="1"><i class="fa fa-shopping-cart"></i> Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span class='text-center'>Mới</span>
                        </div>
                        <a href="/san-pham/chi-tiet/42" class="main-btn quick-view"><i class="fa fa-eye"></i> Chi tiết</a>
                        <img src="~/upload/images/ProductImages/Acer/Laptop/A715-72G-50NA/A715-72G-50NA01.png" alt="Laptop Gaming Acer Aspire 7 A715-72G-50NA" />
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">
                            19,990,000
                        </h3>
                        <div class="product-rating">
                            <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                        </div>
                        <h2 class="product-name"><a href="/san-pham/chi-tiet/42">Laptop Gaming Acer Aspire 7 A715-72G-50NA</a></h2>
                        <div class="product-btns">
                            <a href="" class="main-btn icon-btn" data-id="42"><i class="fa fa-heart "></i></a>
                            <a href="" class="main-btn icon-btn" data-id="42"><i class="fa fa-exchange"></i></a>
                            <a href="" class="primary-btn add-to-cart pull-right" data-id="42"><i class="fa fa-shopping-cart"></i> Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span class='text-center'>Mới</span>
                        </div>
                        <a href="/san-pham/chi-tiet/43" class="main-btn quick-view"><i class="fa fa-eye"></i> Chi tiết</a>
                        <img src="~/upload/images/ProductImages/Acer/Laptop/AN515-52-75FT/AN515-52-75FT01.jpg" alt="Laptop Gaming Acer Nitro 5 AN515-52-75FT" />
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">
                            26,989,000
                        </h3>
                        <div class="product-rating">
                            <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                        </div>
                        <h2 class="product-name"><a href="/san-pham/chi-tiet/43">Laptop Gaming Acer Nitro 5 AN515-52-75FT</a></h2>
                        <div class="product-btns">
                            <a href="" class="main-btn icon-btn" data-id="43"><i class="fa fa-heart "></i></a>
                            <a href="" class="main-btn icon-btn" data-id="43"><i class="fa fa-exchange"></i></a>
                            <a href="" class="primary-btn add-to-cart pull-right" data-id="43"><i class="fa fa-shopping-cart"></i> Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <div class="product-label">
                            <span class='text-center'>Mới</span>
                        </div>
                        <a href="/san-pham/chi-tiet/44" class="main-btn quick-view"><i class="fa fa-eye"></i> Chi tiết</a>
                        <img src="~/upload/images/ProductImages/Acer/Laptop/AN515-54-59WX/AN515-54-59WX01.png" alt="Laptop Gaming Acer Nitro AN515-54-59WX" />
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">
                            25,490,000
                        </h3>
                        <div class="product-rating">
                            <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                        </div>
                        <h2 class="product-name"><a href="/san-pham/chi-tiet/44">Laptop Gaming Acer Nitro AN515-54-59WX</a></h2>
                        <div class="product-btns">
                            <a href="" class="main-btn icon-btn" data-id="44"><i class="fa fa-heart "></i></a>
                            <a href="" class="main-btn icon-btn" data-id="44"><i class="fa fa-exchange"></i></a>
                            <a href="" class="primary-btn add-to-cart pull-right" data-id="44"><i class="fa fa-shopping-cart"></i> Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
